*.idea
*.gradle
*.iml
*.ipr
*.iws
*.ids
test-output/
*.*~

*/project
*/tmp
*/modules
*/lib
*/test-result
*/logs
*/war
*/precompiled
*/target
*/build
*/out
*/*.iml
*/*.ipr
*/*.iws

*/*/tmp
*/*/modules
*/*/lib
*/*/test-result
*/*/logs
*/*/target
*/*/build
*/*/out
*/*/dist
*/*/*.iml
*/*/*.ipr
*/*/*.iws

out/
target/
build/
logs/

.project
.settings/
*/.classpath
*/test-output/
*/.cache